@{
    ViewData["Title"] = "Details";
    ViewData["Message"] = "This is the details page.";
}

<head>
    <title>@ViewData["Title"] - 사이트 이름</title>
</head>

<script>
    const originalTitle = document.title;
    window.addEventListener("blur", () => {
        document.title = "가지 마세요! 소식이 있어요";
    });
    window.addEventListener("focus", () => {
        document.title = originalTitle;
    });
</script>

<body>
    <div>
        <h1>Details</h1>
        <p>@ViewData["Message"]</p>
    </div>
</body>


